@import './common';
@import './example';
.search-form_block{
    background-color: rgb(3, 3, 95);
    display: inline-flex;
   width: 100vw;
}
.search-form-txt{
    border: none;
}
.btn{
    border: none;
}
.search-img{
    background-color: none;
}


.info-item {
    margin-bottom: 5px;
}
.gallery{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 10px;
  
}

.photo{
    width: 350px;
    height: 250px;
}
